
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container-list {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 1rem;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  width: 100%;
  min-width: 230px;
  max-width: 500px;
  height: 40%;
  overflow-y: scroll;
}

.container-list ul {
  list-style: none;
}

.container-list .movie-card {
  background-color: rgb(38, 38, 38);
  margin: 10px 0;
  border-radius: 20px;
  width: 100%;
  padding: 1rem 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 20px;
}



.button-delete {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(255, 45, 45);
  border: none;
  padding: .2rem .6rem;
  border-radius: 5px;
}

.movieForm {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

form input {
  border: none;
  padding: .5rem;
  border-radius: 10px;
  outline: none;
}

.movieForm button {
  border: none;
  padding: .5rem;
  border-radius: 10px;
  margin: 10px 0;
}